.dataTap{
    height: 100%;
    .TapTitle{
        font: roboto;
        font-weight: bold;
        font-size: 35px;
        margin: 30px;
    }
    span{
        font: roboto;
        font-weight: light;
        font-size: 32px;
        margin-left: 50px;
    }
    .list{
        overflow-y: scroll;
        max-height: 500px;
        .cardsList{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
            .card{
                width: 80%;
                height: 105px;
                background-color: #0029FF;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                span{
                    margin: 5px;
                    color: #FFFFFF;
                    font: roboto;
    
                }
    
                button{
                    margin-right: 10px;
                    background-color: red;
                    font-size: 15px;
                    border-radius: 6px;
                }
            }
            .addBar{
                width: 80%;
                height: 50px;
                background-color: #6485E5;
                text-align: center;
                font-size: 30px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    .list::-webkit-scrollbar {
        width: 12px; /* Width of the entire scrollbar */
        height: 12px; /* Height of the entire scrollbar */
    }
    
    .list::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px; /* Rounded corners of the track */
    }
    
    .list::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners of the thumb */
    }
}